.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.docx#
src/*.o
*.o

.DS_Store
**/.DS_Store

assets/bower_components
assets/node_modules
assets/npm-debug.log

admin*
data*

notebook/feedback*
notebook/grant_part_2*
/doc/
/Meta/
