/* override bootstrap variables here and add new custom app variables */

$green-1: #003F13;
$green-2: #2b472b;
$green-3: #022A35;
$green-4: #443424;
$green-5: #804B15;

$genotype-1: #265B6A;
$genotype-2: #AA7239;
$genotype-3: #AA4839;
$genotype-4: #447684;
$genotype-5: #D4A06A;
$genotype-6: #D4786A;
$genotype-7: #6B949F;
$genotype-8: #7EBD91;
$genotype-9: #FFD5AA;
$genotype-10: #FFB6AA;